<div class="main">
  <h2 id="rules-title">نحوه ثبت سفارش</h2>

  <p class="mt-4"><strong>چگونه از کیولند خرید کنیم؟</strong></p>
  <p>
    1.ابتدا از منوی بالای صفحه ، بر روی قسمت دسته بندی ها (کیو کالا ، کیو اموز ،
    کیو سفر و ... ) به صفحه محصولات مربوطه وارد می شوید.
  </p>

  <div class="image-box">
    <img src="../../../../../assets/images/order-1.png" />
  </div>

  <p class="mt-4">2.دسته بندی مورد نظر را انتخاب کنید.</p>
  <p>3. بر روی قسمت دسته بندی کالای مورد نظر کلیک کنید.</p>
  <p>4- پس از نمایش محصولات دسته بندی مورد نظر، محصول دلخواه را انتخاب کنید.</p>

  <div class="image-box-small">
    <img src="../../../../../assets/images/order-2.png" />
  </div>

  <p class="my-4">
    5. با کلیک بر روی محصول درخواستی ، وارد صفحه مشخصات محصول میشود.
  </p>

  <div class="image-box">
    <img src="../../../../../assets/images/order-3.png" />
  </div>

  <p>
    6.در صفحه ی محصولی که انتخاب کردید ، تمامی اطلاعات مربوط به ان را ( رنگ،
    تعداد و قیمت و ... ) محصول را میتوانید چک کند.
  </p>
  <p>
    7.سپس بر روی دکمه ی افزودن به سبد خرید کلیک کرده تا پنجره ای به منظور موفقیت
    عملیات نمایش داده شود.
  </p>

  <div class="image-box-small">
    <img src="../../../../../assets/images/order-4.png" />
  </div>

  <p class="my-4">
    8. پس از افزودن محصول مورد نظر به سبد خرید، در قسمت بالای صفحه سمت چپ، روی
    آیکون سبد خرید کلیک کنید تا محصولات موجود در سبد خرید را به شما نمایش دهد.
  </p>

  <div class="image-box">
    <img src="../../../../../assets/images/order-5.png" />
  </div>

  <p class="my-4">
    9.پس از ورود به سبد خرید اطلاعات محصول انتخابی مانند : (رنگ ، گارانتی ،
    پذیرنده، تعدادمحصول ، مبلغ کل ، مبلغ تخفیف ، هزینه ارسال ، مبلغ قابل پرداخت
    و ... ) به شما نمایش داده میشود و میتواند تعداد محصول انتخابی را ویرایش
    کنید، همچنین میتواند کالا های سبد خرید را به صورت تکی و یا به طور کامل حذف
    نماید و جهت تکمیل فرایند خرید باید برروي کلید "ادامه ثبت سفارش"کلیک نمایید.
  </p>

  <p>
    10.با کلیک بر روي کلید "ادامه ثبت سفارش"،در صورتیکه در سایت ثبت نام نکرده
    باشید و یا با کد کاربري خود وارد نشده باشید سیستم به صورت خودکار شما را به
    صفحه "ورود به سایت" منتقل مینماید.
  </p>

  <p>
    در صورتی که از قبل به حساب کاربري خود وارد شده باشید به صفحه "انتخاب آدرس
    تحویل سفارش" منتقل میشود در این مرحله باید ادرس محل دریافت سفارش خود را ثبت
    نماید و نحوه ارسال محصول و شیوه پرداخت مبلغ سفارش خود را انتخاب نمایید. شما
    میتواند مبلغ سفارش خود را با استفاده از کیف پول دیجیتال خود پرداخت نمایید و
    درصورتی که داراي کد تخفیف هستید در این مرحله باید کد را وارد نمایید .
  </p>

  <p>
    11.جهت پرداخت سفارش بعد از اطمینان از اطلاعات ثبت شده باید برروي کلید"ادامه
    ثبت سفارش"، کلیک نمایید.
  </p>

  <div class="image-box">
    <img src="../../../../../assets/images/order-6.png" />
  </div>
</div>
