<div class="main">
  <h2 id="rules-title">تماس با ما</h2>

  <p class="lines mt-4">
    <strong class="underline">با ما در ارتباط باشید</strong>
  </p>
  <p class="lines">تلفن تماس: 91006005 - 021</p>
  <p class="lines">داخلی: 650007</p>
  <p class="lines">650008</p>
  <p class="lines">650023</p>
  <p class="lines">650024</p>
  <p class="lines">
    آدرس: تهران_ میدان هفت تیر_ خیابان قائم مقام فراهانی_ خیابان مشاهیر_ خیابان
    غفاری_ پلاک 12
  </p>
  <p class="lines">کد پستی: 1589875347</p>
</div>
