<div class="main">
  <h2 id="rules-title">قوانین و مقررات</h2>

  <p class="lines mt-4">
    <span
      >کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات کیولند به دقت
      ملاحظه فرمایید.</span
    >
    <br />
    ورود کاربران به وب‏‌سایت کیولند هنگام استفاده از پروفایل شخصی و استفاده از
    خدمات ارائه شده توسط کیولند به معنای آگاه بودن و پذیرفتن شرایط و قوانین و
    همچنین نحوه استفاده از سرویس‌‏ها و خدمات کیولند است. توجه داشته باشید که ثبت
    سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین کیولند از سوی
    کاربر است
  </p>

  <p class="lines">
    کلیه اصول و رویه‏‌های کیولند منطبق با قوانین جمهوری اسلامی ایران، قانون
    تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز
    موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج،
    رویه‏‌ها و سرویس‏‌های کیولند تغییراتی در آینده ایجاد شود، در همین صفحه منتشر
    و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به
    معنی پذیرش هرگونه تغییر است.
  </p>
</div>
