.pagination {
  justify-content: center;
}

.notFound-text {
  max-width: 500px;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #c7c7c7;
  margin: 1rem auto;
  text-align: center;
  color: #c7c7c7;
  border-radius: 10px;
}

.empty-container {
  margin-top: 3rem;
  grid-column: 1 / -1;
  height: 400px;
}
