<div class="sidebar-logo">
  <a href="/" target="_blank">
    <img src="assets/images/qland_logo.png" alt="logo" *ngIf="!isCollapsed" />
<!--    <img src="assets/images/qland_mini.png" alt="logo" *ngIf="isCollapsed" />-->
  </a>
</div>
<ul>
  @for (menu of menuList; track $index) {
    @if (menu.children) {
      <li>
        <ul>
          @for (child of menu.children; track $index) {
            <li>
              <a routerLink="{{ child.route }}">{{ child.label }}</a>
            </li>
          }
        </ul>
      </li>
    } @else {
      <li>
        <span ></span>
        <span routerLink="{{ menu.route }}">{{ menu.label }} </span>
      </li>
    }
  }
</ul>
