nav {
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  a {
    color: rgb(102, 102, 102);
    font-size: 13px;
    margin-left: 20px;
    font-weight: 300;
    position: relative;

    &:not(:last-child)::after {
      content: "\f053";
      font-family: FontAwesome, serif;
      font-size: 11px;
      font-weight: 100 !important;
      position: absolute;
      top: 4px;
      left: -14px;
    }
  }
}
