@if (totalCount > 0) {
  <p>{{ profilePage ? "اخرین سفارش ها" : "همه سفارش ها" }}</p>

  <div class="dt-sl">
    <div class="table-responsive">
      <table class="table table-order mb-0">
        <thead class="title-table">
          <tr>
            <th class="title-table">#</th>
            <th class="title-table">شماره سفارش</th>
            <th class="title-table">تاریخ ثبت سفارش</th>
            <th class="title-table">وضعیت سفارش</th>
            <th class="title-table">جزییات</th>
          </tr>
        </thead>
        <tbody>
          @for (data of listOfOrder; track $index) {
            <tr>
              <td class="row-table">
                {{ (pageNumber - 1) * pageSize + $index + 1 }}
              </td>
              <td class="row-table">{{ data.invoiceNumber }}</td>
              <td class="row-table">
                {{ data.invoiceRegisterDate | persianDate }}
              </td>
              <td class="row-table" [ngStyle]="{ 'font-size': '15px' }">
                {{ data.invoiceState | enumLabel: InvoiceStatusLabel }}
              </td>

              <td class="row-table">
                <svg
                  class="go-to-stream-icon"
                  fill="#dadada"
                  height="35px"
                  width="35px"
                  (click)="goToOrderDetails(data)"
                  viewBox="0 0 330 330"
                >
                  <path
                    d="M315,0H15C6.716,0,0,6.716,0,15v300c0,8.284,6.716,15,15,15h300c8.284,0,15-6.716,15-15V15C330,6.716,323.284,0,315,0z M215.606,234.394c5.858,5.857,5.858,15.355,0,21.213C212.678,258.535,208.839,260,205,260s-7.678-1.464-10.606-4.394l-80-79.998c-2.813-2.813-4.394-6.628-4.394-10.606c0-3.978,1.58-7.794,4.394-10.607l80-80.002c5.857-5.858,15.355-5.858,21.213,0c5.858,5.857,5.858,15.355,0,21.213l-69.393,69.396L215.606,234.394z"
                  />
                </svg>
              </td>
            </tr>
          }

          @if (profilePage && totalCount > 5) {
            <tr class="view-list-order">
              <td colspan="5" (click)="goToOrderList()">
                <span>مشاهده لیست سفارش ها</span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    @if (!profilePage && totalCount > 10) {
      <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="pageNumber === 1">
            <a
              class="page-link"
              (click)="goToPage(pageNumber - 1)"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li
            class="page-item"
            *ngFor="let page of getPaginationPages()"
            [class.active]="page === pageNumber"
          >
            <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="pageNumber === totalPages">
            <a
              class="page-link"
              (click)="goToPage(pageNumber + 1)"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    }
  </div>
} @else {
  <div class="no-orders-box">
    <p class="no-orders">سفارشی ثبت نشده است.</p>
  </div>
}
