<div class="main">
  <h2 id="rules-title">درباره ما</h2>

  <p class="lines mt-4">
    کیولند فقط یک فروشگاه اینترنتی با تنوع و کیفیت بالای کالا نیست. کیولند
    امکانی را برای مشتریان خود فراهم نموده است که بتوانند با استفاده از تسهیلات
    قرض‌الحسنه بانک مهر ایران نسبت به خرید کالای با کیفیت بالا اقدام نموده و در
    کمترین زمان ممکن آنرا تحویل بگیرند.
  </p>
  <p class="lines"><strong>کدام محصولات در کیولند قابل سفارش هستند؟</strong></p>
  <p class="lines">
    در حال حاضر فروشگاه اینترنتی کیولند در حوزه کالای دیجیتال در حال ارائه خدمات
    میباشد :
  </p>
  <p class="lines">
    <strong>کیوکالا :</strong>
    <span class="description">
      در حال حاضر این بخش برای کالاهای دیجیتال پرمتقاضی مانند گوشی موبایل، لپ
      تاپ، ساعت هوشمند و کنسول بازی فعال می‌باشد. بدیهی است که با توجه به لزوم
      استفاده روزمره برخی از آنها از جمله موبایل و لپ تاپ، شیوه پرداخت مبلغ کالا
      از طریق تسهیلات تخصیص یافته به مشتری اطمینان خاطر بیشتری را فراهم می‌کند.
      علاوه بر این، مشارکت پذیرندگان مختلف در ارائه کالا و ایجاد مزایای رقابتی
      موجب بالا رفتن تنوع کالاهای ارائه شده در بازه‌های قیمتی مختلف و مناسب با
      شرایط گوناگون مشتریان می‌شود.</span
    >
  </p>
  <p class="lines description">
    لازم به یادآوری است که خدمات فروشگاهی کیولند در راستای حمایت از مشتریان با
    ارائه کالاهای متنوع با کیفیت بالا و تحویل به موقع به مشتری برای فراهم شدن
    اطمینان و آرامش خاطر بیشتر مشتری در پرداخت مبالغ خرید از طریق تسهیلات
    قرض‌الحسنه بانک مهر ایران، در حال توسعه خدمات خود و ارائه تنوع کالاهای بیشتر
    در زمینه‌های دیگر می‌باشد.
  </p>
</div>
