<div class="dropdown-category">
  <span class="category">
    دسته بندی
    <i class="fa fa-thin fa-chevron-down icon"></i>
  </span>

  <div class="dropdown-content-category">
    <div class="general-box">
      <div class="title">
        @for (parent of mainCategories; track parent) {

          <div class="drop-sub-menu">
            <span>{{ parent.name }}</span>
          </div>

          <div class="content-sub-menu">
            <div class="col-Q">
              @for (topLevel of filterByParent(parent.id); track topLevel) {
                @if (topLevel.parentId == parent.id) {
                  <span style="font-weight: bold">
                    {{ topLevel.name }}
                    <i class="fa fa-chevron-left icon-data"></i>
                    </span>

                  @for (node of filterByParent(topLevel.id); track node) {
                    @if (node.parentId == topLevel.id) {
                      <a [routerLink]="['/pages/content/category-'+parent.id,node.id]">{{
                          node.name
                        }}</a>
                    }
                  }
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
