<div class="main">
  <h2 id="rules-title">پاسخ به پرسش های متدوال</h2>

  <div class="mt-4">
    <p><strong>1- هزینه ی ارسال در کیولند چگونه محاسبه میشود؟</strong></p>
    <p>
      هزینه ارسال بر اساس شیوه ارسال متفاوت است و در زمان ثبت سفارش نمایش داده
      می شود.
    </p>
  </div>

  <div class="mt-4">
    <p><strong>2- روش صحیح بسته بندی کالای مرجوعی به چه صورت است؟</strong></p>
    <p>کالا میبایست در جعبه اصلی خود به کیولند بازگردانده شود.</p>
    <p>
      برچسب‌زدن یا نوشتن توضیحات، آدرس یا هر مورد دیگری روی جعبه اصلی کالا و یا
      پاره و مخدوش کردن آن، امکان استفاده از ضمانت بازگشت را از بین خواهد برد.
    </p>
    <p>
      لازم است تمامی اقلام همراه محصول را در بسته بندی و شرایط اولیه قرار داده و
      ارسال نمایید.
    </p>
    <p>
      در صورتی که اقلامی به عنوان هدیه در کنار محصول ارسال شده باشد لازم است این
      اقلام نیز بازگشت داده شود.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >3- اگر کالایی که خریدم در حمل و نقل آسیب ببیند چگونه از خدمات پس از
        فروش استفاده کنم؟</strong
      >
    </p>
    <p>
      آسیب‌‏ دیدگی باید حداکثر طی 24 ساعت پس از دریافت کالا، به خدمات پس از فروش
      کیولند اطلاع داده شود.
    </p>
  </div>

  <div class="mt-4">
    <p><strong>4- آیا در روزهای تعطیل رسمی ارسال انجام می شود؟ </strong></p>
    <p>خیر، در روزهای تعطیل رسمی ارسال انجام نمی شود.</p>
  </div>

  <div class="mt-4">
    <p><strong>5- چطور گوشی جدید خود را فعال ( رجیستر ) کنم؟</strong></p>
    <p>
      هر دستگاه نیازمند فعالسازی، باید از طریق سامانه همتا با واردکردن شناسه
      (IMEI)، شماره سیم کارت و کد فعال سازی، برای سیم کارت مورد نظر فعال سازی
      شود.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >6- تا چند روز مهلت دارم محصول خریداری شده ی خود را مرجوع کنم؟</strong
      >
    </p>
    <p>
      مشتریان تا 24 ساعت پس ازخرید، می توانند با مراجعه به حساب کاربری خود
      درخواست مرجوعی را ثبت کنند.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >7- اگر از خرید خود بعد از تحویل کالا منصرف شوم میتوانم آن را
        برگردانم؟</strong
      >
    </p>
    <p>بله . حداکثر تا 24ساعت پس از تحویل کالا‏، انصراف خود را اطلاع دهید.</p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >8- گارانتی کالاها شامل چه مواردی می‏‌شود؟ چطور میتوانم از خدمات گارانتی
        استفاده کنم؟</strong
      >
    </p>
    <p>
      به این دلیل که گارانتی شرکت‏‌های مختلف بر اساس نوع کالا متفاوت است و
      بنابراین در اینجا پاسخگویی دقیق ممکن نیست، بهترین کار این است که با خود
      شرکت‌های گارانتی کننده تماس بگیرید.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >9- در صورتی که کالا مورد پسندم نباشد، میتوانم آن را مرجوع کنم ؟</strong
      >
    </p>
    <p>
      بله. انصراف از خرید و درخواست مرجوعی مورد تایید است اما هزینه ی مرجوعی
      کالا به عهده ی مشتری می باشد.
    </p>
  </div>

  <div class="mt-4">
    <p><strong>10- روند رسیدگی به درخواست مرجوعی کالا چگونه است؟</strong></p>
    <p>کارشناسان خدمات پس از فروش کیولند ایرادات مطرح شده را بررسی میکنند .</p>
    <p>
      علت مرجوعی کالا توسط کارشناسان بررسی و مطابق با شرایط و قوانین تایید یا رد
      می شود.
    </p>
    <p>
      پس از بررسی موارد مطرح شده در صورت تایید ایراد کالا ، وجه به حساب شما
      مرجوع میشود و در صورت عدم تایید و تمایل شما کالا به شما باز خواهد گشت.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >11- چطور درخواست خود را جهت بازگرداندن کالا (مرجوعی کالا) به شما اطلاع
        دهم؟</strong
      >
    </p>
    <p>
      شما میتوانید از طریق فرم درخواست مرجوعی در حساب کاربری ، صفحه تماس با ما و
      تلفن درخواست خود را ثبت نمایید.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >12- اگر کالای تحویل شده مغایر با سایت باشد میتوانم آن را
        برگردانم؟</strong
      >
    </p>
    <p>
      وجود مغایرت، باید حداکثر تا 24 ساعت پس از دریافت کالا اطلاع رسانی گردد.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >13- اگر از تاریخ گارانتی کالایی که خریده‌‏ام، مدتی گذشته باشد،گارانتی
        چگونه محاسبه می‌شود؟</strong
      >
    </p>
    <p>
      طی قرارداد بین کیولند و پذیرندگان، تاریخ شروع گارانتی بیشتر کالاها، بر
      اساس تاریخ فاکتور فروش کیولند محاسبه می‌شود و تاریخ مندرج در برگه گارانتی
      به تنهایی معیار اعتبار گارانتی نیست. بنابراین اگر کالایی را دریافت کردید
      که مدتی از تاریخ شروع گارانتی آن گذشته بود جای نگرانی نیست و با ارائه
      فاکتور فروش خود می‌توانید از خدمات گارانتی کالا استفاده نمایید.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >14- اگر در هنگام تحویل سفارش متوجه شوم کالا آسیب دیده است میتوانم آن را
        تحویل نگیرم؟</strong
      >
    </p>
    <p>
      بله ، در صورتی که آسیب در لحظه قابل مشاهده باشد، شما میتوانید کالا را
      تحویل نگیرید .
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >15- در صورتی که کالا ایراد ظاهری داشته باشد ، تا چه زمانی مهلت برگشت
        کالا را دارم؟</strong
      >
    </p>
    <p>
      آسیب‌‏ یا ایراد فیزیکی باید حداکثر طی 24 ساعت پس از دریافت کالا، به خدمات
      پس از فروش کیولند از طریق صفحه تماس با ما، ثبت درخواست مرجوعی در پروفایل
      یا تلفن به ما اطلاع داده شود. استفاده از این سرویس تنها در صورتی
      امکان‌پذیر است که کالا در کارتن یا جعبه اصلی خود به کیولند بازگردانده شود.
      برچسب زدن یا نوشتن توضیحات، آدرس یا هر مورد دیگری روی کارتن یا جعبه اصلی
      کالا و یا پاره و مخدوش کردن آن، امکان استفاده از ضمانت بازگشت را از بین
      خواهد برد.
    </p>
  </div>

  <div class="mt-4">
    <p>
      <strong
        >16- کالایی خریداری نمودم که بعد از دریافت متوجه شدم اصل نیست، چطور
        میتوانم کالا را مرجوع کنم ؟</strong
      >
    </p>
    <p>
      با توجه به اینکه تعدادی از کالاها توسط تولید کننده اصلی تولید نمیشود، در
      سایت با نشان غیر اصل مشخص شده اند، که هنگام سفارش گذاری شما امکان انتخاب
      کالای اصل و غیر اصل را دارید.
    </p>
  </div>

  <div class="mt-4">
    <p><strong>17- سرنوشت کالای مرجوعی چیست؟</strong></p>
    <p>
      در صورتی که کالا در شرایط اولیه باشد و به هر دلیلی از تحویل آن منصرف شوید
      کالا به انبار کیولند بازگشت داده خواهد شد.
    </p>
    <p>
      در غیر اینصورت بعد از تحویل کالا اگر ایرادی مشاهده کردید میتوانید درخواست
      بازگشت کالا را ثبت کنید.
    </p>
  </div>

  <div class="mt-4">
    <p><strong>18- از کجا متوجه شوم محصول گارانتی دارد یا نه؟</strong></p>
    <p>در قسمت مشخصات محصول گارانتی یا عدم گارانتی بودن محصول ذکر شده.</p>
  </div>
</div>
