<div class="go-up">
  <a id="back-to-top" (click)="scrollToTop()" *ngIf="isVisible">
    <span class="icon-go-up"><i class="fa fa-thin fa-chevron-up"></i></span>
  </a>
</div>

<div class="container main-container">
  <div class="row">
    <div
      class="col-content mb-4 mb-lg-0 col-12 col-lg-6"
      style="text-align: justify; text-justify: inter-word"
    >
      <h4>معرفی کیولند</h4>
      <small class="mb-2">
        کیولند، بازارگاه دیجیتالی است که با هدف تسهیل در خرید کالا و خدمات متنوع
        و مورد توجه نسل جوان ایجاد شده است . شیوه پرداخت در کیولند فقط از طریق
        کیف پول پلتفرم کیوبانک امکان پذیر است و بانک قرض الحسنه مهر ایران با
        پرداخت تسهیلات قرض الحسنه ویژه ، از نسل جوان حمایت خواهد کرد .
      </small>
      <div class="icons-social pb-3">
        <a class="circle">
          <i class="fa fa-brands fa-instagram"></i>
        </a>
        <a class="circle">
          <i class="fa fa-brands fa-whatsapp"></i>
        </a>
        <a class="circle">
          <i class="fa fa-brands fa-telegram"></i>
        </a>
      </div>
    </div>

    <div class="col-link pb-4 pb-lg-0 mt-4 col-12 col-lg-6">
      <div class="row w-100">
        <div class="col-4 footer-link">
          <a routerLink="/pages/content/footer-items/rules">قوانین و مقرارات</a>
          <a routerLink="/pages/content/footer-items/privacy">حریم خصوصی</a>
        </div>

        <div class="col-4 footer-link">
          <a
            routerLink="/pages/content/footer-items/instruction-order-registration"
            >نحوه ثبت سفارش</a
          >
          <a routerLink="/pages/content/footer-items/questions"
            >پرسش های متداول</a
          >
        </div>

        <div class="col-4 footer-link">
          <a routerLink="/pages/content/footer-items/about-us">درباره ما</a>
          <a routerLink="/pages/content/footer-items/contact-us">تماس با ما</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyright">
  <p class="mb-0">
    کلیه حقوق این سایت متعلق به شرکت مهر اندیش آکام می باشد All rights Reserved
  </p>
</div>
