.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 0;

  .main-slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    animation: fade-slider 4s infinite alternate;
    @keyframes fade-slider {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      95% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center center;
      transition: transform 2s ease;
      opacity: 0;

      &.active {
        opacity: 1;
      }

      @media screen and (max-width: 767px) {
        object-fit: fill;
      }
    }

    .box-icon {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 50%;
      cursor: pointer;

      .icon-slider {
        width: 30px;
        height: 30px;
        margin: 0 10px;
      }
    }

    .indicators {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      width: 100%;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: rgba(204, 204, 204, 0.6);
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
          background-color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-slider {
    margin-top: 20px !important;

    .box-icon {
      top: 45% !important;

      .icon-slider {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}

