<div class="dt-sl dt-sn mb-3">
  <div class="profile-sidebar-header dt-sl">
    <div class="profile-avatar float-start">
      <img src="assets/images/avatar.png" alt="{{ user?.name }}-photo" />
    </div>

    <div class="profile-header-content mr-3 mt-2 float-start">
      <span class="d-block profile-username"
        >{{ user?.name }} {{ user?.family }}</span
      >
      <span class="d-block profile-phone">{{ user?.mobileNumber }}</span>
    </div>

    <div class="profile-link mt-2 dt-sl">
      <div class="row">
        <div class="col-6 text-center">
          <a href="#">
            <i class="fa fa-lock"></i>
            <span class="d-block">تغییر رمز</span>
          </a>
        </div>

        <div class="col-6 text-center">
          <a (click)="logout()">
            <i class="fa fa-arrow-right"></i>
            <span class="d-block">خروج از حساب </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
