<div class="dropdown-category">
  <span class="category">
    دسته بندی
    <svg height="10px" width="10px" viewBox="0 0 185.344 185.344">
      <g>
        <g>
          <path
            style="fill: #010002"
            d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18
			c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0
			c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"
          />
        </g>
      </g>
    </svg>
  </span>

  <div class="dropdown-content-category">
    <div class="general-box">
      <div class="title">
        <div class="drop-sub-menu0 drop-sub-menu">
          <span>کیو ورزش</span>
          <div class="content-sub-menu0 content-sub-menu">
            <div class="col-Q">
              @for (data of dataCategory?.menuItems; track data) {
                @if (data.parentId == 67) {
                  <span style="font-weight: bold"
                  >{{ data.name }}
                    <svg
                      fill="#000000"
                      height="10px"
                      width="10px"
                      viewBox="0 0 330 330"
                    >
                      <path
                        id="XMLID_92_"
                        d="M111.213,165.004L250.607,25.607c5.858-5.858,5.858-15.355,0-21.213c-5.858-5.858-15.355-5.858-21.213,0.001
        	l-150,150.004C76.58,157.211,75,161.026,75,165.004c0,3.979,1.581,7.794,4.394,10.607l150,149.996
        	C232.322,328.536,236.161,330,240,330s7.678-1.464,10.607-4.394c5.858-5.858,5.858-15.355,0-21.213L111.213,165.004z"
                      />
                    </svg>
                  </span>

                  @for (levelOneitem of dataCategory?.menuItems;
                    track levelOneitem) {
                    @if (levelOneitem.parentId == data.id) {
                      <span>{{ levelOneitem.name }}</span>
                    }
                  }
                }
              }
            </div>
          </div>
        </div>

        @for (root of mainCategories; track root) {

          <div class="drop-sub-menu1 drop-sub-menu">
            <span>{{ root.name }}</span>
            <div class="content-sub-menu1 content-sub-menu">
              <div class="col-Q">
                @for (data of filterByParent(root.id); track data) {
                  <span style="font-weight: bold"
                  >{{ data.name }}
                    <svg
                      fill="#000000"
                      height="10px"
                      width="10px"
                      viewBox="0 0 330 330"
                    >
                      <path
                        id="XMLID_92_"
                        d="M111.213,165.004L250.607,25.607c5.858-5.858,5.858-15.355,0-21.213c-5.858-5.858-15.355-5.858-21.213,0.001
        	l-150,150.004C76.58,157.211,75,161.026,75,165.004c0,3.979,1.581,7.794,4.394,10.607l150,149.996
        	C232.322,328.536,236.161,330,240,330s7.678-1.464,10.607-4.394c5.858-5.858,5.858-15.355,0-21.213L111.213,165.004z"
                      />
                    </svg>
                  </span>

                }
              </div>
            </div>
          </div>
        }
        <div
          class="small-menu"
          (click)="hiddenModal()"
          [style.visibility]="!hideRightMenu ? 'visible' : 'hidden'"
        >
          <div
            class="right-menu-box"
            [style.display]="hideRightMenu ? 'none' : 'block'"
            (mouseenter)="interMouse()"
            (mouseleave)="leaveMouse()"
          >
            <div class="logo-small">
              <img
                class="logo-samall-image"
                src="assets/images/qland_logo.png"
                (click)="goToHome()"
                alt=""
              />
            </div>

            <div class="search-box">
              <form class="form-box">
                <input type="text" placeholder="جستجو کنید..."/>
              </form>
            </div>

            <div class="navbar">
              <div class="logout" (click)="logout()">
                <h5>خروج</h5>
                <i class="fa fa-chevron-left icon-exit" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

        <div
          class="small-header col-6 col-md-3"
          [style.justify-content]="!hideRightMenu ? 'end' : ''"
        >
          <i class="fa fa-bars icon" aria-hidden="true" (click)="smallHeader()"></i>
          <!--            <div class=" icon" (click)="smallHeader()">-->
          <!--              <span></span>-->
          <!--              <span></span>-->
          <!--              <span></span>-->
          <!--            </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
