@if (isExist) {
  <div class="main mt-4 mt-md-1">
    <div class="box-price">
      <div class="row-box-price color-row">
        <div class="title">
          <div class="circle-blank"></div>
          <h2 class="title-text">
            رنگ:
            @for (color of colors; track $index) {
              @if (choosedSpec.productPriceColorId === color.productPriceColorId) {
                <span>{{ color.productPriceColorName }}</span>
              }
            }
          </h2>
        </div>

        <div class="display">
          @for (color of colors; track $index) {
            <div
              class="color-display-show"
              [style.background]=" color.productPriceColorId ? color.productPriceColorData : '' "
              (click)="selectColor(color.productPriceColorId)"
              [ngClass]="{
                selected:
                  choosedSpec.productPriceColorId === color.productPriceColorId,
              }"
            ></div>
          }
        </div>
      </div>

      <div class="row-box-price vendor-row">
        <div class="title">
          <div class="circle-blank"></div>
          <h2 class="title-text">پذیرنده:</h2>
        </div>

        <div class="display">
          @for (vendor of vendors; track $index) {
            <div
              (click)="selectVendor(vendor.productPriceVendorId)"
              [ngClass]="{
                selected:
                  choosedSpec.productPriceVendorId ===
                  vendor.productPriceVendorId,
              }"
              class="display-show"
            >
              {{ vendor.productPriceVendorName }}
            </div>
          }
        </div>
      </div>

      <div class="row-box-price guaranty-row">
        <div class="title">
          <div class="circle-blank"></div>
          <h2 class="title-text">گارانتی:</h2>
        </div>

        <div class="display">
          @for (guaranty of guaranties; track $index) {
            <div
              (click)="selectGuaranty(guaranty.productPriceProductGuaranty)"
              [ngClass]="{
                selected:
                  choosedSpec.productPriceProductGuaranty ===
                  guaranty.productPriceProductGuaranty,
              }"
              class="display-show"
            >
              {{
                guaranty.productPriceProductGuaranty
                  | enumLabel: ProductGuarantyLabel
              }}
            </div>
          }
        </div>
      </div>

      <div class="row-box-price number-price">
        <div class="row-price-product me-2 mb-2">
          <div class="row">
            @if (isExist && choosedSpec.discountAmount) {
              <div class="text-end ltr discount">
                <span class="percent-discount">{{ choosedSpec.productPriceDiscount }}%</span>
                <span class="amount-discount" dir="rtl"> {{ choosedSpec.discountAmount |price }} ريال</span></div>
            }
            <div class="col-3">
              <span class="text">قیمت</span>
            </div>
            <div class="col-9 amount">
              @if (isExist) {

                <span class="price-number">
                  {{ choosedSpec.lastAmount.toLocaleString() }}
                </span>
                <span class="toman">ريال</span>
              } @else {
                <span class="price-number">موجود نیست</span>
              }
            </div>
          </div>
        </div>

        @if (choosedSpec.count >= 1) {
          <div class="row-number-product mb-4">
            <div class="row">
              <div class="col-6">
                <span class="ms-1 text">تعداد</span>
              </div>
              <div class="col-6">
                <div class="number-input">
                  <button (click)="addProductPriceCount(true, choosedSpec)">
                    +
                  </button>
                  <div class="number-product">{{ choosedSpec.count }}</div>
                  <button (click)="addProductPriceCount(false, choosedSpec)">
                    @if (choosedSpec.count ===
                    choosedSpec.productPriceLowestNumberOfOrders) {
                      <i
                        class="fa fa-trash text-danger"
                        style="font-size: 1rem"
                      ></i>
                    } @else {
                      <svg width="10" height="10" viewBox="0 0 256 256">
                        <defs></defs>
                        <g
                          style="
                            stroke: none;
                            stroke-width: 0;
                            stroke-dasharray: none;
                            stroke-linecap: butt;
                            stroke-linejoin: miter;
                            stroke-miterlimit: 10;
                            fill: none;
                            fill-rule: nonzero;
                            opacity: 1;
                          "
                          transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                        >
                          <path
                            d="M 86.5 48.5 h -83 C 1.567 48.5 0 46.933 0 45 s 1.567 -3.5 3.5 -3.5 h 83 c 1.933 0 3.5 1.567 3.5 3.5 S 88.433 48.5 86.5 48.5 z"
                            style="
                              stroke: none;
                              stroke-width: 1;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: rgb(29, 29, 27);
                              fill-rule: nonzero;
                              opacity: 1;
                            "
                            transform=" matrix(1 0 0 1 0 0) "
                            stroke-linecap="round"
                          />
                          <path
                            d="M 86.5 48.5 h -83 C 1.567 48.5 0 46.933 0 45 s 1.567 -3.5 3.5 -3.5 h 83 c 1.933 0 3.5 1.567 3.5 3.5 S 88.433 48.5 86.5 48.5 z"
                            style="
                              stroke: none;
                              stroke-width: 1;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: rgb(29, 29, 27);
                              fill-rule: nonzero;
                              opacity: 1;
                            "
                            transform=" matrix(1 0 0 1 0 0) "
                            stroke-linecap="round"
                          />
                        </g>
                      </svg>
                    }
                  </button>
                </div>
              </div>
            </div>
          </div>
        } @else {
          <div class="row-cart-button mt-4">
            <div class="add-btn-price" (click)="addCart(true, choosedSpec)">
              افزودن به سبد خرید
            </div>
          </div>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="main mt-4 mt-md-1">
    <div class="box-non-existent">
      <h5 class="text-non-existent">ناموجود</h5>
      <p class="description-non-existent">
        این کالا فعلا موجود نیست اما می‌توانید زنگوله را بزنید تا به محض موجود
        شدن، به شما خبر دهیم
      </p>

      <div class="non-existent-button-box mt-4 w-100 m-auto">
        <a class="non-existent-button">
          <svg
            fill="#000000"
            width="20px"
            height="20px"
            viewBox="0 0 416.979 416.979"
            class="icon-information"
          >
            <g>
              <path
                d="M356.004,61.156c-81.37-81.47-213.377-81.551-294.848-0.182c-81.47,81.371-81.552,213.379-0.181,294.85
		c81.369,81.47,213.378,81.551,294.849,0.181C437.293,274.636,437.375,142.626,356.004,61.156z M237.6,340.786
		c0,3.217-2.607,5.822-5.822,5.822h-46.576c-3.215,0-5.822-2.605-5.822-5.822V167.885c0-3.217,2.607-5.822,5.822-5.822h46.576
		c3.215,0,5.822,2.604,5.822,5.822V340.786z M208.49,137.901c-18.618,0-33.766-15.146-33.766-33.765
		c0-18.617,15.147-33.766,33.766-33.766c18.619,0,33.766,15.148,33.766,33.766C242.256,122.755,227.107,137.901,208.49,137.901z"
              />
            </g>
          </svg>
          <span>موجود شد به من اطلاع بده</span></a
        >
      </div>
    </div>
  </div>
}
